/*
John L Wilson
CSE 154 AL
Homework 8 "Fifteen Puzzle"

CSS file for the fifteen puzzle website
*/

body {
	font-family: cursive;
	font-size: 14pt;
	text-align: center;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#puzzlearea {
	width: 400px;
	height: 400px;
	margin: auto;
	position: relative;
}

.tile {
	width: 99px;
	height: 99px;
	border: white 0.5px solid;
	position: absolute;
	background-image: url('background.jpg');
	font-size: 40pt;
	color: rgba(255,255,255,0.7);
}

.blank {
	background-image:none;
	border: none;
}

.on {
	border: red 0.5px solid;
	cursor: pointer;
	color: red;
}

.clear {
	color: rgba(255,255,255,0);
}
