body {
	font-family: Candara, Narkisim, Garamond, serif;
	background: #0D0103;
	margin-top: 1em;
	color: white;
}

#navBar li {
	text-align: center;
	list-style-type: none;
	display: inline-block;
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	margin: 0;
	color: white;
	cursor: pointer;
	cursor: hand;
	/* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
    position: relative;
    bottom: -2px;
	border-bottom: 2px solid #AAAAAA;
}

#navBar li:hover {
	background: white;
}

#navBar ul {
	background: #0D0103;
	width: 1000px;
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 12pt;
}

#page {
	width: 1004px;
	margin: auto;
	background: #404040;
	border: 2px solid #AAAAAA;
}

#header {
	text-align: right;
	height: 342px;
}

#header img {
	vertical-align: bottom;
}

#header h1, #header p {
	position: relative;
	font-weight: bold;
	padding-right: 30px;
}

#header h1 {
	font-size: 48pt;
	top: -352px;
}

#header p {
	font-size: 20pt;
	top: -156px;
}

#content div {
	padding: 20px;
}

li {
    list-style-type: none;
}

ol {
   -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    padding: 0;
}

#mainTitle, #breakFromTheReal {
    display:none;
}

p {
	font-size: 14pt;
}

h3 {
	font-size: 24pt;
}

#aboutDiv img {
	float: right;
	margin: 20px;
	box-shadow: 0 0 10px #888888;
}

#navBar img {
	float: right;
	margin-right: 9px;
	margin-top: 9px;
}

#homeButton {
	margin-left: 20px !important;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#content {

}

#navBar {
	border-bottom: 2px solid #AAAAAA;
}